.navigation {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding:10px 20px;
}
#navbar__logo{
    
  background-color: purple;
  background-image: linear-gradient(to top, purple 50%, white 10%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 29px;
}
.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}
.navigation li {
    margin-left: 20px;
    text-decoration: underline;
}
.navigation a {
    text-decoration: none;
    color: white;
}
.content {
    padding: 20px;
    flex: 1;
    background-color: violet;

}
.content h3 {
    height: fit-content;
    font-size: 34px;
}
.content img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}
.content p {
    font-size: 16px;
    line-height: 1.5;
    font-family: Georgia;
}
.footer {
    background-color: rgb(140, 140, 207);
    padding: 10px;
    text-align: center;
}
.footer span {
    font-style: italic;
}